* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /*font-weight: 400;
    box-sizing: border-box;
    max-width: 1080px;
    margin: 0 auto;*/
}

.Name{
    font-size: 70px;
    margin-top: 50px;
    margin-left: 300px;
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
}
.print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.head{
    background-color: burlywood;
}

.logo{
    margin-right: 40px;
    margin-top: 40px;

}

.nav-a{
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-size: 30px;
    left: 20px;
    right: 20px;
}
.nav{   
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.info{
    background-color: brown;
    display: flex;
    flex-direction: row;
    text-align: center;
    font-style: normal;
    margin-left: 90px;
    margin-right: 100px;
    width: 100%;
    object-fit: cover;
    background-size: contain;
    padding: 2%;
    width: 100%;
}

.start{  
    border: 0 auto;
    position: absolute;
    justify-content: center
    display:center;
    align-items: center;
}
    
.infoPeople{
    margin-top: 40px;
}

.pics{
    border: 0 auto;  
    /*flex-wrap: 2 wrap;
    align-content: space-around;
    align-items: stretch;
    columns: 2;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    max-width: 600px;
    max-height: 800px;*/

}
.paper{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    
    
    z-index: -1;
}

.photo{
    border: 0 auto;
    position: absolute;
    flex-wrap: 2 wrap;
    align-content: space-around;
    align-items: stretch;
    columns: 2;
    margin-left: 65px;
    margin-top: -670px;
    margin-right: 50px;
    max-width: 600px;
    max-height: 800px;
}
main{
    display: flex;
    
}