* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    /*font-weight: 400;
    box-sizing: border-box;
    max-width: 1080px;
    margin: 0 auto;*/
}

.Name{
    font-size: 70px;
    margin-top: 50px;
    margin-left: 300px;
    letter-spacing: 10px;
    font-family: 'Cinzel', serif;
}
.print{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.head{
    background-color: burlywood;
}

.logo{
    margin-right: 40px;
    margin-top: 40px;

}

.nav-a{
    text-decoration: none;
    
    font-family: Montserrat;
    font-style: normal;
    font-size: 30px;
    left: 20px;
    right: 20px;
}
.nav{   
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.info{
    background-color: brown;
    display: flex;
    flex-direction: row;
    
}

.pics{
    border: 0 auto;
    display: flex;    
   
    flex-wrap: 2 2 wrap;
    align-content: space-around;
    align-items: stretch;
    columns: 2;
}
main{
    display: flex;
}